<div class="box">
    <div class="content-box" [formGroup]="signInForm" >
        <h1 class="heading">
            Sign In
        </h1>
        <mat-form-field appearance="fill">
            <mat-label>User email</mat-label>
            <input matInput formControlName="useremail">
            <button mat-icon-button matSuffix >
                <mat-icon>email</mat-icon>
              </button>
              <mat-error *ngIf=" signInForm.controls['useremail'].errors?.['required']"
    >Useremail is required</mat-error
  >
              <mat-error *ngIf=" signInForm.controls['useremail'].errors?.['email']"
    >Useremail is Invalid</mat-error
  >
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf=" signInForm.controls['password'].errors?.['required']"
            >Password is required</mat-error
          >
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary"  (click)="signin()">Sign In</button>
         
            <button mat-raised-button (click)="routerNavigate()" >Sign Up</button>
          </div>
         
    </div>
  

</div>