<mat-toolbar color="primary">
   
    <span>My Shop</span>

    <span class="example-spacer"></span>
     <div>
      <button (click)="gotocart()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon matBadge="{{this.cartitemscount}}">shopping_cart</mat-icon>
      </button>
      <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>exit_to_app</mat-icon>
      </button>
     </div>


  </mat-toolbar>

  <router-outlet></router-outlet>










